[submodule "src/libs/stb"]
	path = src/libs/stb
	url = git@github.com:jkleinecke/stb.git
[submodule "src/libs/tinyobjloader"]
	path = src/libs/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "src/libs/tiny_imageformat"]
	path = src/libs/tiny_imageformat
	url = git@github.com:DeanoC/tiny_imageformat.git
[submodule "src/libs/VulkanMemoryAllocator"]
	path = src/libs/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "src/libs/volk"]
	path = src/libs/volk
	url = git@github.com:zeux/volk.git
[submodule "src/libs/SPIRV-Reflect"]
	path = src/libs/SPIRV-Reflect
	url = git@github.com:KhronosGroup/SPIRV-Reflect.git
[submodule "src/libs/cgltf"]
	path = src/libs/cgltf
	url = git@github.com:jkuhlmann/cgltf.git
